
/* font family for progect */
@font-face {
    font-family: Merriweather;
     src: url("assets/fonts/static/Merriweather-Bold.ttf");
   }
@font-face {
    font-family: Inter;
     src: url("assets/fonts/static/Inter-Regular.ttf");
   }
@font-face {
    font-family: Inter Bold;
     src: url("assets/fonts/static/Inter-Bold.ttf");
   }

   html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    
    
  }
   

body {
    max-width: 1440px;
    max-height: 5532px;
    margin:0 auto;
    background: #000000; 
    overflow-x: hidden;
    /* border: 1px solid #ffff; */
}


.header-container {
    position: sticky;
    top: 0px;
    max-width: 100%;
    height: 90px;
    background-image: url('./assets/img/bg.jpg');
    background-position: center 0;
    background-repeat: no-repeat;
    z-index: 500;
}



.header_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space;
    max-width: 100%;
    align-items: center;
    margin-top: 5px;
    margin-left: 840px;
}

.header_nav{
    left: 0px;
    position: absolute;
    top: 20px
}

.header_button{
    margin-top: 0px;
    margin-left:5px;
    font-family: Inter Bold, 'serif';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 50px;
/* identical to box height, or 250% */

    text-align: center;

    color: #FFFFFF;
    
}

.znak{
  margin: 0px 10px 0px 1px;
}


.header_list{
    display: flex;
    flex-wrap: wrap;    
    margin-left: auto;
}

.header_item{
    margin-right: 30px;
    display: inline;
}

.header_link{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 50px;
    text-decoration: none;
    /* identical to box height, or 250% */
    color: #FFFFFF;
}

  .header_link  {
    color: #ffff;
  }
  .header_link:hover {
    background-color: #f5dd06;
    color: green;
    transition: 3s;

    
  }
  .header_link:active {
    color: red;
    text-decoration: none;
    transition: 3s;
  }

  .header_link:focus {
    color: #BDAE82;
    text-decoration: underline;
    transition: 3s;
  }

.header_logo_link {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 20px;
    top: 20px;
}

.header_logo_link:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
    transition: 3s;
}


.header_link_button {
    color: #ffff;
    text-decoration: none;
}

.header_link_button:hover {
    background-color: #f5dd06;
    color: green;
    transition: 3s;
    
  }
  .header_link_button:active {
    color: red;
    text-decoration: none;
    transition: 3s;
  }

  .header_link_button:focus {
    color: #BDAE82;
    transition: 3s;
  }

.header_link_lang{
  color: #ffff;
  text-decoration: none;
  transition: 3s;  
}
.header_link_lang:focus{
  color: #BDAE82;
  transition: 3s;
}

.en {
  color: #BDAE82;
}



  .container {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 20px;
  }

  .section_Hero {
    background-image: url('./assets/img/bg.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center -90px;
    width: 100%;
    height: 910px;
    margin: 0 auto;
    padding: 0;
  
  }

  .hero {
    width: 500px;
    padding: 125px 0px 0px 0px;
    padding-left: 80px;
  }

  .hero_title {
    font-family: Merriweather, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font: Merriweather;
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    margin-top:50px;
    margin-bottom: 35px;
    /* identical to box height, or 200% */
    color: #FFFFFF;
    
  }
 .hero_text{
    font-family: Inter, 'Franklin Gothic Medium', 'Arial Narrow';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 40px;
  /* or 200% */
    color: #FFFFFF;
    text-align: left;
    margin: 0;
    margin-bottom: 25px;
 }



  .button {
    width: 220px;
    height:55px;
    background-color: #BDAE82;
    border-radius: 0px;
    padding: 0px 0px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 40px;
    /* identical to box height, or 200% */
    text-align: center;
    color: #000000;
    cursor: pointer;
  }

.button:hover {
    background-color: #e0d03adf;
    transition: 3s;
  }
.button:active {
    color: red;
    text-decoration: underline;
    transition: 3s;
}

  .section_Skills {
    width: 100%;
    height: 482px;
    left: 0px;
    top: 910px;
  }

  .section-title {
    display: flex;
    flex-wrap: wrap;
    justify-content: space;

    margin-left: auto;
    margin-right: auto;
    width: 700px;
    margin-top:  5px;

  }

  .text-header{

    font-family: Merriweather, 'Franklin Gothic Medium', 'Arial Narrow';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 80px;
    text-align: center;
    /* /* identical to box height, or 200% * */
    color: #BDAE82;
    margin:0px;

  }


  .text-header-portfolio {

    font-family: Merriweather, 'Franklin Gothic Medium', 'Arial Narrow';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 80px;
    text-align: center;
    /* /* identical to box height, or 200% * */
    color: #BDAE82;
    margin:0px;

  }

  .span_skill{
    width: 152px;
    height:80px;
    background-color: #000000;
    border-radius: 0px;
    
  }

      .line{
      height: 2px;
      width:274px;
      left: 0;
      right: 0;
      margin-top: auto;
      margin-bottom: auto;
      background: #BDAE82;
      border-radius: 0px;
      }

.skills-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  height:242px;
  margin-top: 55px;
  
      }
.skills-item {
  width:320px;
  height:240px;
  /* border: 2px solid #BDAE82; */
  margin-left: auto;
  margin-right: auto;
  margin: 0;
  margin-top:4px;
      }

.skills-title {
  font-family: Inter, 'Franklin Gothic Medium', 'Arial Narrow';
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 40px;
  /* identical to box height, or 200% */
  text-align: center;

  color: #FFFFFF;
  margin-top: 50px;

}

.skilst-text{
font-family: Inter, 'Franklin Gothic Medium', 'Arial Narrow';
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 36px;
/* or 200% */
text-align: center;

color: #FFFFFF;

}

.img-skils{
  display: block;
  margin-left: auto;
  margin-right: auto;
}



.section_Portfolio {
  width: 100%;
  height: 1500px;
  left: 0px;
  top: 0px;  
}

.section-title-portfolio {
  display: flex;
  flex-wrap: wrap;
  justify-content: space;

  margin-left: auto;
  margin-right: auto;
  width: 700px;
  margin-top: 0px;
  height: 80px;

}


.span_portfolio{
  width: 220px;
  height:80px;
  background-color: #000000;
  border-radius: 0px;
  
}

.line_portfolio{
  height: 2px;
  width:240px;
  left: 0;
  right: 0;
  margin-top: auto;
  margin-bottom: auto;
  background: #BDAE82;
  border-radius: 0px;
  }

.button-size{
  position: relative;
  width: 895px;
  height: 55px;
  left: 272px;
  top: 57px;
}


  .portfolio-button-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space;
    gap: 5px;
  }


  .portfolio-button {
  width: 220px;
  height: 55px;
  left: 0%;
  right: 0%;
  top: 0px;
  background-color: #000000;
  border: 2px solid #BDAE82;
  box-sizing: border-box;
  border-radius: 0px;

  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 40px;
    /* identical to box height, or 200% */

  text-align: center;

  color: #BDAE82;
  
  }


.portfolio-button:hover {
    background: #BDAE82;
    color: #726e6e;
    transition: 3s;
  }
.portfolio-button:active {
    color: red;
    text-decoration: underline;
    transition: 3s;
}

.portfolio-button:focus {
  color:black;
  background-color: #BDAE82;
  transition: 3s;
}


.portfolio-items-size{
  position: relative;
  width: 100%;
  height: 1145px;
  left: 20px;
  top: 118px;
}


  .portfolio-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space;
    gap: 25px;
    bottom: 25px;
  }


  .portfolio-item{
    width:450px;
    height:560px;
    top:0px;
    border-radius: 0px;
  }


  .video{
    width: 100%;
    height: 945px;
  }



  .section-title-video {
    display: flex;
    flex-wrap: wrap;
    justify-content: space;
  
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    height:80;
    margin-top: 0px;
  
  }
  
  .text-header-video {
        line-height: 80px;
  
        font-family: Merriweather, 'Franklin Gothic Medium', 'Arial Narrow';
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        text-align: center;
        /* /* identical to box height, or 200% * */
        color: #BDAE82;
        margin: 0%;
        padding: 0px 0px 0px 0px;
  }
  
  
  .span_video{
    width: 156,03px;
    height:80px;
    background-color: #000000;
    border-radius: 0px;
    
  }
  
  .line_video{
    height: 2px;
    width:270px;
    left: 0;
    right: 0;
    margin-top: auto;
    margin-bottom: auto;
    background: #BDAE82;
    border-radius: 0px;
    }

  .span_video{
    width: 160px;
    height:80px;
    background-color: #000000;
    border-radius: 0px;
  
  }

  .video-players {
    width: 100%;
    height: 705px;
    margin-left: 20px;
    margin-top: 60px;
    background-image: url('./assets/img/video-player.jpg');
    background-position: center 0;
    background-repeat: no-repeat;
  }

.curs {
  position: relative;
  left: 635px;
  top: 288px;
  cursor:pointer;
}
 


.price {
  width: 100%;
  height: 745px;
}

.section-title-price {
  display: flex;
  flex-wrap: wrap;
  justify-content: space;

  margin-left: auto;
  margin-right: auto;
  width: 700px;
  height:80;
  margin-top: 0px;

}

.text-header-price {
  line-height: 80px;

      font-family: Merriweather, 'Franklin Gothic Medium', 'Arial Narrow';
      font-style: normal;
      font-weight: 700;
      font-size:40px;
      text-align: center;
      /* /* identical to box height, or 200% * */
      color: #BDAE82;
      margin: 0%;
      padding: 0px 0px 0px 0px;
    }

.line_price{
  height: 2px;
  width:279px;
  left: 0;
  right: 0;
  margin-top: auto;
  margin-bottom: auto;
  background: #BDAE82;
  border-radius: 0px;
  }

.span_price{
    width: 142px;
    height:80px;
    background-color: #000000;
    border-radius: 0px;
  
  }



.price-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space;
  gap: 25px;
  position: relative;
  width: 1400px;
  height: 505px;
  left: 20px;
  top: 60px;
}

.price-item{
  height: 505px;
  width: 450px;
  border: 3px solid #BDAE82;
  box-sizing: border-box;
  border-radius: 0px;
  margin-left: auto;
  margin-right: auto;
}

.price-header{
  margin-top: 42px;
  font-family: Merriweather, 'Franklin Gothic Medium', 'Arial Narrow';
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 56px;
  margin-bottom: 43px;
/* identical to box height, or 200% */

  text-align: center;

  color: #FFFFFF;
}

.price-money{
font-family: Merriweather, 'Franklin Gothic Medium', 'Arial Narrow';
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 0px;
/* identical to box height, or 200% */
margin-bottom:52px;
text-align: center;


color: #BDAE82;
}


.price-p{
font-family: Inter, 'Franklin Gothic Medium', 'Arial Narrow';
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 18px;
/* identical to box height, or 200% */

text-align: center;

color: #FFFFFF;

}

.button-price {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top:49px;
  width: 220px;
  height:55px;
  background-color: #BDAE82;
  border-radius: 0px;
  

  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 40px;
  /* identical to box height, or 200% */
  text-align: center;
  color: #000000;
  cursor: pointer;
}

.button-price:hover {
  background-color: #e0d03adf;
  transition: 3s;
}
.button-price:active {
  color: red;
  text-decoration: underline;
  transition: 3s;
}

.active-button {
  color:black;
background-color: #BDAE82;
}

.section-contacts {
  background-image: url('./assets/img/contacts.jpg');
  background-position: center 0;
  background-repeat: no-repeat;
  width: 100%;
  height: 700px;
  margin-top: 0px;

}

.for-contact{
  width:100%;
  height:445px;
  padding-top: 60px;
}

.block {
  width: 450px;
  height:445px;
  margin-left: 970px;
  margin-top: 0px;
}

.contacts_title {
  margin: 0px;
  padding: 0;  
  font-family: Merriweather, 'Franklin Gothic Medium', 'Arial Narrow';
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 80px;
/* identical to box height, or 200% */
  color: #BDAE82;
}

.E-mail{
  width: 450px;
  height: 50px;
  margin-top: 40px;
  background: rgba(0, 0, 0, 0.5);
  border: 2px solid #BDAE82;
  box-sizing: border-box;
  border-radius: 0px;
  color: #FFFFFF;
}

.Phone{
  width: 450px;
  height: 50px;
  margin-top: 20px;
  background: rgba(0, 0, 0, 0.5);
  border: 2px solid #BDAE82;
  box-sizing: border-box;
  border-radius: 0px;
  color: #FFFFFF;
  }


.textarea{
  width: 450px;
  height: 100px;
  margin-top: 20px;  
  background: rgba(0, 0, 0, 0.5);
  border: 2px solid #BDAE82;
  box-sizing: border-box;
  border-radius: 0px; 
  resize: none;
  color: #FFFFFF;
  margin-bottom: 26px;
}

::placeholder {
  text-indent: 16px;
  font-family: Inter, 'Franklin Gothic Medium', 'Arial Narrow';
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 40px;
  vertical-align: top;
  /* identical to box height, or 200% */
  color: #BDAE82;
}


 /* Footer */
 .footer {
  width: 100%;
  height: 150px;
  left: 0px;
  top:0px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  color: white;
  
}
.footer__github {
  position: relative;
  margin-top: 0px;
  font-family: Inter, 'Franklin Gothic Medium', 'Arial Narrow';
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 50px;
  text-indent: 20px;
  word-spacing: 15px;
  text-decoration: none;
/* identical to box height, or 250% */
  color: #FFFFFF;

}
.footer__github:hover {
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
  contrast(87%);
  transition: 3s;
}

.footer__rsschool {
  justify-self: end;
  margin-left: auto;
  margin-right: auto;

  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 50px;
  text-decoration: none;
/* identical to box height, or 250% */


color: #FFFFFF;

}

.footer__rsschool:hover {
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
  contrast(87%);
  transition: 3s;
}

.social_list{
  display: flex;
  flex-wrap: wrap;    
  padding: 0px 20px 0px 271px;
}

.list_item{
  display: inline;
  margin-right: 20px;
}

.list_item_lost{
  display: inline;
  margin-right: 0px;
}

.social_logo_link:hover {
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
  contrast(87%);
  transition: 3s;
}


.hamb {
display: none;
}

.mobile-nav {
  display: none;
}





@media only screen and (max-width: 768px) {



  body {
      max-width: 768px;
      margin:0;
      /* border: 1px solid #ffff; */
  }


  body.noscroll {
      overflow: hidden;
    }


  .header-container {
    position: sticky;
    z-index: 500;
      max-width: 768px;
  
      padding: 0;
      background-image: url('./assets/svg/smallBg798.png');

  }


  .header_logo_link {
      left : 60px;
      top: 20px;
  }

  .header_wrapper {
      margin-left: 71%;
      padding: 20px 0px;
      margin-top: 0px;
      
      
  }

  nav {
      display: none;
  }


.znak {
  margin: 0px 14px 0px 5px;
}
  

  .hamb {
  display: flex;
  align-items: center;
  padding:0px 5px;
  margin: 0px;
  position:sticky;
  z-index: 500;
  max-width: 50px;
  max-height: 28px;
  }


.hamb__field {
  padding: 10px 20px;
  cursor: pointer;
  
}
.bar {
  display: block;
  width: 50px;
  height: 3px;
  margin: 6px auto;
  background-color: #fff;
  transition: 0.2s;
  
}
.popup {
  position: fixed;
  top: 0px;
  right: -200%;
  width: 650px;
  height: 8512px;

  
  background-color: #000;
  z-index: 10;
  display: flex;
  transition: 3s;
}
.popup.open {
  transition: 5s;
  left: 148px;
}



.popup .menu {
  width: 100%;
  height: 100%;
  align-items: left;
  justify-content: start;
  overflow: auto;
  padding-top: 110px;
  padding-left: 127px;

}
.popup .menu > li {
  width: 100%;
}
.popup .menu > li > a {

  width: 100%;
  flex:none;
  justify-content: center;
  padding: 0;
  font-family: Inter, "Helvetica Neue", Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  line-height: 89px;
  /* identical to box height, or 208% */
  
  
  color: #FFFFFF;
}
.popup .menu > li > a:hover {
  background-color: #BDAE82;
  color:#000;
}
.hamb__field.active .bar:nth-child(2) {
  opacity: 0;
}
.hamb__field.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
  position: absolute;
  z-index: 3000;
 
}
.hamb__field.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
  position: absolute;
  z-index: 3000;

}

.section_Hero{
  background-image: url('./assets/svg/smallBg798.png');
  background-repeat: no-repeat;
  background-position: center -90px;
  max-width: 768px;
  max-height: 590px;
  margin: 0 auto;
  padding: 0;
  }


  .hero {
  width: 390px;
  padding: 80px 0px 60px 0px;
  margin-left: 60px;
  }

  .hero_title {
  font-family: Merriweather, 'Franklin Gothic Medium', 'Arial Narrow';
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 60px;
  margin: 0px;
  /* identical to box height, or 200% */
  
  color: #FFFFFF;
  
  }


    .hero_text {  
  width: 390px;  
  padding-top: 20px;  
  font-family: Inter, 'Franklin Gothic Medium', 'Arial Narrow';
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  /* or 200% */
  color: #FFFFFF;
  margin-bottom: 60px;
  }

  .section_Skills {
      height: 715px;
      left: 0px;
      top: 0px;
  }

  .section-title {
    width: 500px;
    margin-top:  5px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 140px;
   

  }



    .text-header {

      font-family: Merriweather, 'Franklin Gothic Medium', 'Arial Narrow';
      font-style: normal;
      font-weight: 700;
      font-size: 32px;
      text-align: center;
      /* /* identical to box height, or 200% * */
      color: #BDAE82;
      margin:0px;
      line-height: 50px;
  
    }
  
    .span_skill {
      width: 131px;
      height:50px;
      background-color: #000000;
      border-radius: 0px;
      
    }
  
    .line {
        height: 2px;
        width: 116px;
        left: 0;
        right: 0;
        margin-top: auto;
        margin-bottom: auto;
        background: #BDAE82;
        border-radius: 0px;
        }

        .skills-items {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-around;
          width: 728px;
          height:520px;
          margin-top: 55px;
          margin-left: auto;
          margin-right: auto;
          
              }
              .skills-item {
                width:300px;
                height:224px;
                /* border: 2px solid #BDAE82; */
                margin-left: auto;
                margin-right: auto;
                margin-top: 0px;
                    }
                   
                    .img-skils{
                      display: block;
                      margin-left: auto;
                      margin-right: auto;
                    }

                    .skills-title {
                      font-family: Inter, 'Franklin Gothic Medium', 'Arial Narrow';
                      font-style: normal;
                      font-weight: bold;
                      font-size: 20px;
                      line-height: 40px;
                      /* identical to box height, or 200% */
                      text-align: center;
                    
                      color: #FFFFFF;
                      margin-top: 30px;
                    
                    }
                    .skilst-text{
                      font-family: Inter, 'Franklin Gothic Medium', 'Arial Narrow';
                      font-style: normal;
                      font-weight: normal;
                      font-size: 18px;
                      line-height: 22px;
                      /* or 200% */
                      text-align: center;
                      
                      color: #FFFFFF;
                      
                      }
                      .section_Portfolio {
                        width: 100%;
                        height: 3870px;
                        left: 0px;
                        top: 0px;  
                      }
                      .section-title-portfolio {
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space;
                      
                        margin-left: auto;
                        margin-right: auto;
                        width: 365px;
                        margin-top: 0px;
                        height: 80px;
                      
                      } 

                      
  .span_portfolio{
  width: 185px;
  height:80px;
  background-color: #000000;
  border-radius: 0px;
  
  }
  .line_portfolio{
    height: 2px;
    width:90px;
    left: 0;
    right: 0;
    margin-top: auto;
    margin-bottom: auto;
    background: #BDAE82;
    border-radius: 0px;
    }

    .text-header-portfolio {

      font-family: Merriweather, 'Franklin Gothic Medium', 'Arial Narrow';
      font-style: normal;
      font-weight: 700;
      font-size: 32px;
      line-height: 80px;
      text-align: center;
      /* /* identical to box height, or 200% * */
      color: #BDAE82;
      margin:0px;
  
    }

    .button-size{
      position: relative;
      width: 445px;
      height: 115px;
      left: 162px;
      top: 50px;
    }

    
  .portfolio-button-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space;
    gap: 5px;
    
  }

  .portfolio-button {
    width: 220px;
    height: 55px;
    left: 0%;
    right: 0%;
    top: 0px;
    background-color: #000000;
    border: 2px solid #BDAE82;
    box-sizing: border-box;
    border-radius: 0px;
    margin-bottom: 5px;
  
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 40px;
      /* identical to box height, or 200% */
  
    text-align: center;
  
    color: #BDAE82;
    
    }
    .active-button {
      color:black;
  background-color: #BDAE82;
    }



    .portfolio-items-size{
      position: relative;
      width: 450px;
      max-width: 450px;
      height: 3485px;
      top: 110px;
      left: 159px;
      
    }
    .video{
      width: 100%;
      height: 628px;
      left:0;
    }

    .section-title-video {
      display: flex;
      flex-wrap: wrap;
      justify-content: space;
    
      margin-left: auto;
      margin-right: auto;
      width: 364px;
      height:80;
      margin-top: 0px;
    
    }
.text-header-video {
  line-height: 80px;

      font-family: Merriweather, 'Franklin Gothic Medium', 'Arial Narrow';
      font-style: normal;
      font-weight: 700;
      font-size: 32px;
      text-align: center;
      /* /* identical to box height, or 200% * */
      color: #BDAE82;
      margin: 0%;
      padding: 0px 0px 0px 0px;
    }

    .line_video {
      height: 2px;
      width: 116px;
      left: 0;
      right: 0;
      margin-top: auto;
      margin-bottom: auto;
      background: #BDAE82;
      border-radius: 0px;
      }
  
    .span_video{
      width: 131px;
      height:80px;
      background-color: #000000;
      border-radius: 0px;
    
    }
    .video-players {
      width: 100%;
      height: 418px;
      max-width: 100%;
      max-height: 418px;
      margin-left: 0px;
      margin-top: 50px;
      background-image: url('./assets/img/video-player.jpg');
      background-position: 0px  0;
      background-repeat: no-repeat;
      background-size: cover;
    
    }

    .curs {
      left: 350px;
      top: 176px;
    
      max-width: 64px;
      max-height: 64px;

    }


    
.price {
  width: 100%;
  height: 1825px;
}

.line_price{
  height: 2px;
  width:121px;
  left: 0;
  right: 0;
  margin-top: auto;
  margin-bottom: auto;
  background: #BDAE82;
  border-radius: 0px;
  }

.span_price{
    width: 121px;
    height:80px;
    background-color: #000000;
    border-radius: 0px;
  
  }

  .section-title-price {
    display: flex;
    flex-wrap: wrap;
    justify-content: space;
  
    margin-left: auto;
    margin-right: auto;
    width: 364px;
    height:80;
    margin-top: 0px;
  
  }

  .text-header-price {
    line-height: 80px;
  
        font-family: Merriweather, 'Franklin Gothic Medium', 'Arial Narrow';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        text-align: center;
        /* /* identical to box height, or 200% * */
        color: #BDAE82;
        margin: 0%;
        padding: 0px 0px 0px 0px;
      }

      .price-items {
        display: block;
        flex-wrap: none;
        justify-content: center;
        gap: 0px;
        position: relative;
        width: 768px;
        height: 1620px;
        left: 0px;
        top: 50px;
      }

      .price-item{
        height: 505px;
        width: 420px;
        border: 3px solid #BDAE82;
        box-sizing: border-box;
        border-radius: 0px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 50px;
      }


.section-contacts {
  background-image: url('./assets/img/contacts.jpg');
  background-position: center 0;
  background-repeat: no-repeat;
  width: 100%;
  height: 600px;
  margin-top: 0px;
}

.for-contact{
  width:100%;
  height:445px;
  padding-top: 40px;
  text-align: center;
}

.block {
  width: 450px;
  height:445px;
  margin-left: 159px;
  margin-top: 50px;
}

.contacts_title {
  margin: 0px;
  padding: 0;  
  font-family: Merriweather, 'Franklin Gothic Medium', 'Arial Narrow';
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 0px;
  text-align: center;
/* identical to box height, or 200% */
  color: #BDAE82;
}

.E-mail{
  width: 450px;
  height: 50px;
  margin-top: 75px;
  background: rgba(0, 0, 0, 0.5);
  border: 2px solid #BDAE82;
  box-sizing: border-box;
  border-radius: 0px;
  color: #FFFFFF;
}

.footer {
  width: 100%;
  height: 190px;
  left: 0px;
  top:0px;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  color: white;
  text-align: center;
  
}

.footer__github {
  position: relative;
  margin-top: 20px;
  font-family: Inter, 'Franklin Gothic Medium', 'Arial Narrow';
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 0px;
  text-indent: 20px;
  word-spacing: 15px;
  text-decoration: none;
/* identical to box height, or 250% */
  color: #FFFFFF;
  left: -12px;

}


  .footer__rsschool {
  justify-self: end;
  margin-left: auto;
  margin-right: auto;

  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 0px;
  text-decoration: none;
  margin-top: -10px;
/* identical to box height, or 250% */
  }
  .social_list{
    max-width: 100%;
    align-items: center;
    display: flex;
    flex-wrap: wrap;    
    padding: 0px 0px 0px 290px;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    
  }

}















@media only screen and (max-width: 320px) {



  body {
      max-width: 320px;
      margin:0;
      /* border: 1px solid #ffff; */
  }


  body.noscroll {
      overflow: hidden;
    }


  .header-container {
    position: sticky;
    z-index: 500;
      max-width: 320px;
      padding: 0;
      background-image: url('./assets/svg/smallBg798.png');

  }


  .header_logo_link {
      left : 20px;
      top: 20px;
  }

  .header_wrapper {
      margin-left: 40%;
      padding: 20px 0px;
      margin-top: 0px;
      
  }

  nav {
      display: none;
  }


.znak {
  margin: 0px 14px 0px 5px;
}
  

  .hamb {
  display: flex;
  align-items: center;
  padding:0px 5px;
  margin: 0px;
  position:sticky;
  z-index: 500;
  }


.hamb__field {
  padding: 10px 20px;
  cursor: pointer;
  
}
.bar {
  display: block;
  width: 50px;
  height: 3px;
  margin: 6px auto;
  background-color: #fff;
  transition: 0.2s;
  
}
.popup {
  position: fixed;
  top: 0px;
  left: -200%;
  width: 100%;
  height: 100%;
  background-color: #000;
  z-index: 10;
  display: flex;
  transition: 0.3s;
}
.popup.open {
  left: 0px;
}

.popup .menu {
  width: 100%;
  height: 100%;
  align-items: left;
  justify-content: start;
  overflow: auto;
  padding-top: 110px;
  padding-left: 127px;

}
.popup .menu > li {
  width: 100%;
}
.popup .menu > li > a {

  width: 100%;
  flex:none;
  justify-content: center;
  padding: 0;
  font-family: Inter, "Helvetica Neue", Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 50px;
  /* identical to box height, or 208% */
  
  
  color: #FFFFFF;
}
.popup .menu > li > a:hover {
  background-color: rgba(122, 82, 179, 0.1);
}
.hamb__field.active .bar:nth-child(2) {
  opacity: 0;
}
.hamb__field.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
  position: absolute;
  z-index: 3000;
 
}
.hamb__field.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
  position: absolute;
  z-index: 3000;

}

.section_Hero{
  background-image: url('./assets/svg/smallBg798.png');
  background-repeat: no-repeat;
  background-position: center -90px;
  max-width: 320px;
  max-height: 350px;
  margin: 0 auto;
  padding: 0;
  }


  .hero {
  width: 300px;
  padding: 0px 0px 0px 0px;
  margin-left: 20px;
  }

  .hero_title {
  font-family: Merriweather, 'Franklin Gothic Medium', 'Arial Narrow';
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 60px;
  margin: 0px;
  width: 300px;

  /* identical to box height, or 200% */
  
  color: #FFFFFF;
  
  }


    .hero_text {  
  width: 300px;  
  padding-top: 15px;  
  font-family: Inter, 'Franklin Gothic Medium', 'Arial Narrow';
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  /* or 200% */
  color: #FFFFFF;
  margin-bottom: 40px;
  }

  .section_Skills {
      width: 320px;
      height: 1030px;

      left: 0px;
      top: 0px;
  }

  .section-title {
    width: 320px;
    height: 80px;
    margin-top:  5px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 0px;
    align-items: center;

  }

    .text-header {

      font-family: Merriweather, 'Franklin Gothic Medium', 'Arial Narrow';
      font-style: normal;
      font-weight: 700;
      font-size: 25px;
      text-align: center;
      /* /* identical to box height, or 200% * */
      color: #BDAE82;
      margin:0px;
      line-height: 50px;
  
    }
  
    .span_skill {
      width: 120px;
      height:50px;
      background-color: #000000;
      border-radius: 0px;
      
    }
  
    .line {
        height: 2px;
        width: 30px;
        left: 0;
        right: 0;
        margin-top: auto;
        margin-bottom: auto;
        background: #BDAE82;
        border-radius: 0px;
        }

        .skills-items {
          display: block;
          flex-wrap: wrap;
          justify-content: space-around;
          width: 320px;
          height:800px;
          margin-top: 55px;
          margin-left: auto;
          margin-right: auto;
          
              }
              .skills-item {
                width:300px;
                height:224px;
                /* border: 2px solid #BDAE82; */
                margin-left: auto;
                margin-right: auto;
                margin-top: 0px;
                    }
                   
                    .img-skils{
                      display: block;
                      margin-left: auto;
                      margin-right: auto;
                    }

                    .skills-title {
                      font-family: Inter, 'Franklin Gothic Medium', 'Arial Narrow';
                      font-style: normal;
                      font-weight: bold;
                      font-size: 20px;
                      line-height: 40px;
                      /* identical to box height, or 200% */
                      text-align: center;
                    
                      color: #FFFFFF;
                      margin-top: 30px;
                    
                    }
                    .skilst-text{
                      font-family: Inter, 'Franklin Gothic Medium', 'Arial Narrow';
                      font-style: normal;
                      font-weight: normal;
                      font-size: 18px;
                      line-height: 22px;
                      /* or 200% */
                      text-align: center;
                      
                      color: #FFFFFF;
                      
                      }
                      .section_Portfolio {
                        width: 320;
                        height: 3000px;
                        left: 0px;
                        top: 0px;  
                      }
                      .section-title-portfolio {
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space;
                      
                        margin-left: auto;
                        margin-right: auto;
                        width: 300px;
                        margin-top: 0px;
                        height: 80px;
                      
                      } 

                      
  .span_portfolio{
  width: 185px;
  height:80px;
  background-color: #000000;
  border-radius: 0px;
  
  }
  .line_portfolio{
    height: 2px;
    width:30px;
    left: 0;
    right: 0;
    margin-top: auto;
    margin-bottom: auto;
    background: #BDAE82;
    border-radius: 0px;
    }

    .text-header-portfolio {

      font-family: Merriweather, 'Franklin Gothic Medium', 'Arial Narrow';
      font-style: normal;
      font-weight: 700;
      font-size: 32px;
      line-height: 80px;
      text-align: center;
      /* /* identical to box height, or 200% * */
      color: #BDAE82;
      margin:0px;
  
    }

    .button-size{
      position: relative;
      width: 300px;
      height: 270px;
      left: 20px;
      top: 50px;
    }

    
  .portfolio-button-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space;
    gap: 5px;
    
  }

  .portfolio-button {
    width: 220px;
    height: 55px;
    left: 0%;
    right: 0%;
    top: 0px;
    background-color: #000000;
    border: 2px solid #BDAE82;
    box-sizing: border-box;
    border-radius: 0px;
    margin-bottom: 5px;
  
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 40px;
      /* identical to box height, or 200% */
  
    text-align: center;
  
    color: #BDAE82;
    
    }

    .portfolio-items-size{
      position: relative;
      width: 300px;
      max-width: 300px;
      height: 1000px;
      top: 110px;
      left: 10px
      
    }

    .portfolio-item {
      width:300px;
      height:400px;
      top:0px;
      border-radius: 0px;
    }
.portfolio-item img {
  width: 300px;
}

    .video{
      width: 320px;
      height: 320px;
      left:0;
    }

    .section-title-video {
      display: flex;
      flex-wrap: wrap;
      justify-content: space;
    
      margin-left: auto;
      margin-right: auto;
      width: 300px;
      height:80;
      margin-top: 0px;
    
    }
.text-header-video {
  line-height: 80px;

      font-family: Merriweather, 'Franklin Gothic Medium', 'Arial Narrow';
      font-style: normal;
      font-weight: 700;
      font-size: 32px;
      text-align: center;
      /* /* identical to box height, or 200% * */
      color: #BDAE82;
      margin: 0%;
      padding: 0px 0px 0px 0px;
    }

    .line_video {
      height: 2px;
      width: 70px;
      left: 0;
      right: 0;
      margin-top: auto;
      margin-bottom: auto;
      background: #BDAE82;
      border-radius: 0px;
      }
  
    .span_video{
      width: 131px;
      height:80px;
      background-color: #000000;
      border-radius: 0px;
    
    }
    .video-players {
      width: 320px;
      height: 300px;
      max-width: 100%;
      max-height: 418px;
      margin-left: 0px;
      margin-top: 50px;
      background-image: url('./assets/img/video-player.jpg');
      background-position: 0px  0;
      background-repeat: no-repeat;
      background-size: contain;
    
    }

    .curs {
      left: 140px;
      top: 50px;
    
      max-width: 64px;
      max-height: 64px;

    }


    
.price {
  width: 100%;
  height: 1825px;
}

.line_price{
  height: 2px;
  width:80px;
  left: 0;
  right: 0;
  margin-top: auto;
  margin-bottom: auto;
  background: #BDAE82;
  border-radius: 0px;
  }

.span_price{
    width: 121px;
    height:80px;
    background-color: #000000;
    border-radius: 0px;
  
  }

  .section-title-price {
    display: flex;
    flex-wrap: wrap;
    justify-content: space;
  
    margin-left: auto;
    margin-right: auto;
    width: 320px;
    height:80;
    margin-top: 0px;
  
  }

  .text-header-price {
    line-height: 80px;
  
        font-family: Merriweather, 'Franklin Gothic Medium', 'Arial Narrow';
        font-style: normal;
        font-weight: 700;
        font-size: 25px;
        text-align: center;
        /* /* identical to box height, or 200% * */
        color: #BDAE82;
        margin: 0%;
        padding: 0px 0px 0px 0px;
      }

      .price-items {
        display: block;
        flex-wrap: none;
        justify-content: center;
        gap: 0px;
        position: relative;
        width: 320px;
        height: 1620px;
        left: 0px;
        top: 50px;
      }

      .price-item{
        height: 500px;
        width: 300px;
        border: 3px solid #BDAE82;
        box-sizing: border-box;
        border-radius: 0px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 50px;
      }


.section-contacts {
  background-image: url('./assets/img/contacts.jpg');
  background-position: center 0;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 600px;
  margin-top: 0px;
}

.for-contact{
  width:100%;
  height:320px;
  padding-top: 40px;
  text-align: center;
}

.block {
  width: 320px;
  height:445px;
  margin-left: 0px;
  margin-top: 50px;
}

.contacts_title {
  margin: 0px;
  padding: 0;  
  font-family: Merriweather, 'Franklin Gothic Medium', 'Arial Narrow';
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 0px;
  text-align: center;
/* identical to box height, or 200% */
  color: #BDAE82;
}

.E-mail{
  width: 300px;
  height: 50px;
  margin-top: 75px;
  background: rgba(0, 0, 0, 0.5);
  border: 2px solid #BDAE82;
  box-sizing: border-box;
  border-radius: 0px;
  color: #FFFFFF;
}

.Phone{
  width: 300px;
  height: 50px;
  margin-top: 20px;
  background: rgba(0, 0, 0, 0.5);
  border: 2px solid #BDAE82;
  box-sizing: border-box;
  border-radius: 0px;
  color: #FFFFFF;
  }


.textarea{
  width: 300px;
  height: 100px;
  margin-top: 20px;  
  background: rgba(0, 0, 0, 0.5);
  border: 2px solid #BDAE82;
  box-sizing: border-box;
  border-radius: 0px; 
  resize: none;
  color: #FFFFFF;
  margin-bottom: 26px;
}


.footer {
  width: 320px;
  height: 250px;
  left: 0px;
  top:0px;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  color: white;
  text-align: center;
  
}

.footer__github {
  position: relative;
  margin-top: 20px;
  font-family: Inter, 'Franklin Gothic Medium', 'Arial Narrow';
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 0px;
  text-indent: 20px;
  word-spacing: 15px;
  text-decoration: none;
/* identical to box height, or 250% */
  color: #FFFFFF;
  left: 0px;
  width: 300px;

}


  .footer__rsschool {
  justify-self: end;
  margin-left: auto;
  margin-right: auto;

  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 0px;
  text-decoration: none;
  margin-top: -10px;
  width: 300px;
/* identical to box height, or 250% */
  }
  .social_list{
    width: 300px;
    align-items: center;
    display: flex;
    flex-wrap: wrap;    
    padding: 0px 0px 0px 0px;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    
  }

}




